* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  background: #f4f1ec;
  color: #2b2b2b;
}
/*
NAVBAR
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background: white;
  color: black;
}

.navbar-right {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar a {
  color: grey;
  text-decoration: none;
}

 HERO
.hero {
  text-align: left;
  padding: 4rem 2rem 3rem;
  background-color: rgb(20, 32, 47);
  color: white;
}

.tagline {
  color: rgb(211, 211, 211);
}
.hero h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}*/

/* MAIN LAYOUT */
.explorer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
  padding: 2rem 3rem 3rem;
}

/* ARTIFACT CARDS */
.artifact-card {
  background: white;
  padding: 1.2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-size: 1.1rem;
}
 /*border-left: 4px solid #8b7a5e;*/

.artifact-initial {
  display: flex;
  gap: 10px;
}

.artifact-card:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
} 

/* VIEWER */
.viewer-panel {
  max-width: 700px;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
}
/*
#viewer {
  width: 100%;
  height: 320px;
  padding: 10px;
}*/

/* background: #e6e2db;
  border-radius: 6px;
  border: 1px solid #d2ccc3;
*/

.artifact-image {
  width: 150px;
  height: auto;  
}


.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  overflow: hidden;
}

.artifact-info {
  flex: 1;
  padding: 1rem 1.5rem;
}

/* Viewer wrapper */
.artifact-viewer-wrapper {
  position: relative;
  width: 100%;
  height: 320px;
  padding: 10px;
}

.artifact-viewer {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.artifact-viewer {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.artifact-viewer.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Expand button */
.expand-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
}

/* Modal overlay */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

/* Modal viewer */
.modal-viewer {
  width: 100vw;
  height: 100vh;
  background: #111;
  overflow: hidden;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  background: none;
  background: rgba(0,0,0,0.6);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .explorer {
    grid-template-columns: 1fr;
  }
}
